@page
@model OggPageModel
@{
    ViewData["Title"] = "Ogg Builder";
}



<div class="text-center">
    <h1 class="display-4">Ogg Builder</h1>
    <p>Build .ogg  files</p>
    <div class="alert alert-info">
        <p>Your files uploaded are immediately deleted after building content and not kept on the server</p>
    </div>
</div>

@if (Model.Failed)
{
    <div class="alert alert-danger">
        <p>Your content failed to build, see the following output:</p>
        @foreach (string line in Model.Output)
        {
            <span>@line</span>

            <br />
        }
    </div>
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Form.File" class="form-label"></label>
        <input asp-for="Form.File" class="form-control" accept=".ogg" />
        <span asp-validation-for="Form.File" class="text-danger" />
    </div>

    <div class="mb-3">
        <label asp-for="Form.Platform" class="form-label"></label>
        <select asp-for="Form.Platform" asp-items="Html.GetEnumSelectList<Platform>()" class="form-control">
        </select>
        <span asp-validation-for="Form.Platform" class="text-danger" />
    </div>

    <div class="mb-3">
        <label asp-for="Form.GraphicsProfile" class="form-label"></label>
        <select asp-for="Form.GraphicsProfile" asp-items="Html.GetEnumSelectList<GraphicsProfile>()"
            class="form-control"></select>
        <span asp-validation-for="Form.GraphicsProfile" class="text-danger" />
    </div>

    <div class="mb-3">
        <label asp-for="Form.Quality" class="form-label"></label>
        <select asp-for="Form.Quality" asp-items="Html.GetEnumSelectList<Quality>()" class="form-control">
        </select>
        <span asp-validation-for="Form.Quality" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Build XNB</button>
</form>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
}
