@page "{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Online MonoGame Content Builder</h1>
    <p>This is an online monogame content builder for those that can't build content due to the current Mac M1/M2 incompatiability.<p>
    
    <div class="alert alert-info">
        <p>To use, upload your entire Content directory from your game project to here the click the Build Content button</p>
        <p>Your files uploaded are immediately deleted after building content and not kept on the server</p>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Uploads" class="form-control mb-3" webkitdirectory directory multiple />
    <button type="submit"  class="btn btn-primary">Build Content</button>
</form>
