@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

To use this, you the user must upload your Content files to this website to be built by my server, then the built .xnb files are return back to you as a .zip file.
Once content is built and the zip file is created, all files you uploaded are deleted immediately and not kept.
